{% extends "layout.html" %}
{% block content %}

<div class="content-section, add">
  <form method="POST" action="">
    {{form.hidden_tag()}}
    <fieldset class="form-group">
      <legend class="border-bottom mb4">New Entry</legend>
      <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}

                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
      </div>
      <div class="form-group">
                    {{ form.rating.label(class="form-control-label") }}
                    {% if form.rating.errors %}
                        {{ form.rating(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.rating.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.rating(class="form-control form-control-lg") }}
                    {% endif %}
      </div>
      <div class="form-group">
                    {{ form.age.label(class="form-control-label") }}
                    {% if form.age.errors %}
                        {{ form.age(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.age(class="form-control form-control-lg") }}
                    {% endif %}
      </div>
      <div class="form-check">
                    {{ form.moreThanOneEntry(class="form-check-input") }}
                    {{ form.moreThanOneEntry.label(class="form-check-label") }}
                </div>
    </fieldset>
    <div class="form-group">
      {{form.submit(class="btn btn-outline-info")}}
    </div>
  </form>
</div>





  <table class='sortable table'>
     <thead class=thead-dark>
     <tr>
        <th scope="col">IDs</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Rating</th>
     </tr>
     </thead>
     <tbody>
{%for row in rows%}
        <tr>
           <td >{{row.ID}}</td>
           <td>{{row.name}}</td>
           <td>{{row.age}}</td>
           <td>{{row.rating}}</td>
        </tr>
     {% endfor %} 
  	</tbody>
  </table>

{% endblock content %}